<form>
    <input type="text" value="{{this.question}}" style="width:500px;" readonly>
    <br/>
    <div *ngFor="let item of options">
    <input type="checkbox" [disabled]="toDisable" id="{{item['id']}}" name="{{item['option']}}" value="{{item['id']}}" (change) = "OnMarkedAnswerEvent(item)">
    <label for="{{item['id']}}"> {{item['option']}}</label><br>
    </div>
    <br/>
    
</form>    
<div>
    <p>Remaining Time For Next Question : {{remainingTime}} seconds</p>
</div>
<p *ngIf="displayRightAnswer"> your answer is right</p>
<p *ngIf="displayWrongAnswer"> your answer is wrong</p>
